<a href="https://colab.research.google.com/github/jamg-upv/Impacto-citas-articulo/blob/main/impactoencitas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How to cite this work:

------------

Este codigo permite integrar una tabla con los datos de un conjunto de articulos y sus numeros de citas, normalizarlas teniendo en cuenta las tablas de citas mundiales (scopus) o baseline de (WOS), y añadir las métricas de impacto de la revista en el año de publicación del articulo.
Son necesarias 3 tablas para cada proveedor (scopus y WOS)


Fuente de datos SCOPUS https://elsevier.com/?a=734751

Tareas 
1. Lista de 25 DOIs Banco de Pruebas1  (meritos (5 autores "al azar") )
2. Descargar como cvs bancopruebas1sco tabla Scopus  de 25 meritos (5 autores "al azar") a partir de los DOI
1. Descargar como cvs bancopruebas1wos tabla WOS de los 25 meritos a partir de los DOI
1. preparar un prototipo de la tabla que penamos crear para consultar a compañeros del equipo
2.

Pasos previos. Librerias y configuración

In [5]:
# Importamos ls librería de Python que necesitaremos en este notebook

import pandas as pd  # Pandas permite manipular tablas 
import matplotlib.pyplot as plt  # Para hacer gráficas
import seaborn as sns  # Para hacer gráficas pero necesita matplotlib y deja unos graficos chulisismos 
sns.set_style('whitegrid')  # Pone una malla de fondo bastante mona para Seaborn

import os #rename files
#import xlwings as xw #permite leer docuemtnos xlb me da error y no lo puedo instalar

# Redondeamos las salidas a dos decimales
%precision %.2f

# from google.colab import drive
# drive.mount('/content/drive')

'%.2f'

Carga de *datos* Indicadores de revistas SCOPUS

In [6]:
#métricas de revistas Scopus
# si lo descargamos directo de la web Ç(ventaja es que con una descarga siempre está accesible y no hay que volver a descargarlo durante la sesión)
# el archivo de SCopus de 10 años ocupa demasiados GB (60gb) y no se puede alojar en drive (no debería esar en un acceso libre en github porque es propiedad de Scopus)
   #!wget https://elsevier.com/?a=734751 
#es XLB, hay que convertirlo a mano XLS porque xlb requiere de librerias que no tengo instaladas en colab
# y hacerlo accesible aquí
#la primer pesaña son definiciones de indicadores, la segunra el el año más reciente y luego 9 mas con los anteriores. La ultima pestaña es un clasificación de categorias
## limpio a mano las pestañas no usadas (priemera y ultima) y dejo solo los 7 años más recientes (para que sean solo 44mb y me quepa en google drive)
!wget --output-document=CiteScore14_20.xlsx https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/egXj6G-GT0WY_g3O-2_swA
#si lo hago manual, que tarda una eternidad cada vez)

# en general funciona mejor con archivos csv, que con excel. tendre que partir el archivo excel en csv

#renbombrar el fichero local descargado para que no sea tan feote
#os.rename(r'/content/edit?usp=sharing',r'/content/scopus.xlsx')

--2022-02-08 20:07:51--  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/egXj6G-GT0WY_g3O-2_swA
Resolving gdocu.upv.es (gdocu.upv.es)... 158.42.4.31
Connecting to gdocu.upv.es (gdocu.upv.es)|158.42.4.31|:443... connected.
HTTP request sent, awaiting response... 200
Length: 62207801 (59M) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘CS14_20.xlsx’

CS14_20.xlsx        100%[===================>]  59.33M  18.0MB/s    in 3.3s

2022-02-08 20:07:55 (18.0 MB/s) - ‘CS14_20.xlsx’ saved [62207801/62207801]

In [ ]:
# si sibo el fichero a mano a googlecolab (varios minutos en subir y 130seg en cargar el dataframe)

dfs = pd.read_excel('/content/CiteScore14_20.xlsx',engine='openpyxl',sheet_name=None)
dfs

In [ ]:
# Otra forma de hacer exactamente lo mismo de arriba (130 segundo)

xl_file = pd.ExcelFile('/content/CiteScore14_20.xlsx')

dfs2 = {sheet_name: xl_file.parse(sheet_name) 
          for sheet_name in xl_file.sheet_names}
dfs2

In [ ]:
##pendiente automtizar la creación de un CSV a partir de las pestañas, añadiendo una columna del año (y rotulando citescore solo sin años en las columnas de datos)

Preparacion de las pestañas d la excel
Quitar espacioes en los rotulos del encabezado
Estandarizar los nombres de las columnas

ScopusSourceID	Title	CitationCount	ScholarlyOutput	PercentCited	CiteScore	SNIP	SJR	ScopusASJCCode	ScopusSubSubjectArea	Percentile	RANK	RankOutOf	Publisher	Type	OpenAccess	Quartile	Top10	URLScopusSourceID	PrintISSN	ElectISSN

In [3]:
# importar tablas de metricas revisas SCOPUS (la excel original la he convertido en un CVS por cada pestaña)
# hay que importar los csv y ñadir a cada uno un campo con el año y luego fusionarlos en una tabla unica o trabajarlos como tablas separadas (no sé que será más eficiente)
# El csv subido a Github no funciona (crea tags de html en el archivo y no se lee luego con pandas. Lo lee pero los nombres de los ficheros no son intuitivos)
# !wget https://github.com/jamg-upv/Impacto-citas-articulo/blob/main/tablasinput/CiteScore2020.csv

--2022-02-08 20:00:51--  https://github.com/jamg-upv/Impacto-citas-articulo/blob/main/tablasinput/CiteScore2020.csv
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘CiteScore2020.csv’

CiteScore2020.csv       [ <=>                ] 169.11K  --.-KB/s    in 0.04s

2022-02-08 20:00:51 (4.28 MB/s) - ‘CiteScore2020.csv’ saved [173167]

In [7]:
#lecturas en orden inverso de 2020 hasta 2011
!wget --output-document=CS2020.cvs  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/bCd_63LrSVSkf96qwXihVQ  #2020
!wget --output-document=CS2019.cvs  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/5XemCCZCS-WNmJ-byA6uzA #2019
!wget --output-document=CS2018.cvs  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/H3ZrGBF1TNuBDCI95AVHkA #2018
!wget --output-document=CS2017.cvs  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/kTZ3Mlj8Qr6DC08kauJ2og #2017
!wget --output-document=CS2016.cvs  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/N3l6wTevTLeD6fgI42Hlvw #2016
!wget --output-document=CS2015.cvs  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/oYOpp1OcTIKXBzXfsDuf2g  #2015
!wget --output-document=CS2014.cvs  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/FMHpXVs4SXygTdZGYVp1kA #2014
!wget --output-document=CS2013.cvs  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/XOSnXVhMSFG3lC3hg8bHmg #2013
!wget --output-document=CS2012.cvs  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/IE_0VEppTFOxR2MEwMy9Nw #2012
!wget --output-document=CS2011.cvs  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/Q_O9A4pMTmaXZmxdEaMmSw #2011

--2022-02-08 20:14:44--  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/bCd_63LrSVSkf96qwXihVQ
Resolving gdocu.upv.es (gdocu.upv.es)... 158.42.4.31
Connecting to gdocu.upv.es (gdocu.upv.es)|158.42.4.31|:443... connected.
HTTP request sent, awaiting response... 200
Length: 11980999 (11M) [text/csv]
Saving to: ‘CS2020.cvs’

CS2020.cvs          100%[===================>]  11.43M  8.55MB/s    in 1.3s

2022-02-08 20:14:46 (8.55 MB/s) - ‘CS2020.cvs’ saved [11980999/11980999]

--2022-02-08 20:14:46--  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/5XemCCZCS-WNmJ-byA6uzA
Resolving gdocu.upv.es (gdocu.upv.es)... 158.42.4.31
Connecting to gdocu.upv.es (gdocu.upv.es)|158.42.4.31|:443... connected.
HTTP request sent, awaiting response... 200
Length: 11514712 (11M) [text/csv]
Saving to: ‘CS2019.cvs’

CS2019.cvs          100%[===================>]  10.98M  9.77MB/s    in 1.1s

2022-02-08 20:14:48 (9.77 MB/s) - ‘CS2019.cvs’ saved [11514712/11514712]

--2022-02-08 20:14:48--  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/H3ZrGBF1TNuBDCI95AVHkA
Resolving gdocu.upv.es (gdocu.upv.es)... 158.42.4.31
Connecting to gdocu.upv.es (gdocu.upv.es)|158.42.4.31|:443... connected.
HTTP request sent, awaiting response... 200
Length: 11082164 (11M) [text/csv]
Saving to: ‘CS2018.cvs’

CS2018.cvs          100%[===================>]  10.57M  9.54MB/s    in 1.1s

2022-02-08 20:14:49 (9.54 MB/s) - ‘CS2018.cvs’ saved [11082164/11082164]

--2022-02-08 20:14:49--  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/kTZ3Mlj8Qr6DC08kauJ2og
Resolving gdocu.upv.es (gdocu.upv.es)... 158.42.4.31
Connecting to gdocu.upv.es (gdocu.upv.es)|158.42.4.31|:443... connected.
HTTP request sent, awaiting response... 200
Length: 10594754 (10M) [text/csv]
Saving to: ‘CS2017.cvs’

CS2017.cvs          100%[===================>]  10.10M  7.12MB/s    in 1.4s

2022-02-08 20:14:52 (7.12 MB/s) - ‘CS2017.cvs’ saved [10594754/10594754]

--2022-02-08 20:14:52--  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/N3l6wTevTLeD6fgI42Hlvw
Resolving gdocu.upv.es (gdocu.upv.es)... 158.42.4.31
Connecting to gdocu.upv.es (gdocu.upv.es)|158.42.4.31|:443... connected.
HTTP request sent, awaiting response... 200
Length: 9924334 (9.5M) [text/csv]
Saving to: ‘CS2016.cvs’

CS2016.cvs          100%[===================>]   9.46M  7.29MB/s    in 1.3s

2022-02-08 20:14:53 (7.29 MB/s) - ‘CS2016.cvs’ saved [9924334/9924334]

--2022-02-08 20:14:54--  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/oYOpp1OcTIKXBzXfsDuf2g
Resolving gdocu.upv.es (gdocu.upv.es)... 158.42.4.31
Connecting to gdocu.upv.es (gdocu.upv.es)|158.42.4.31|:443... connected.
HTTP request sent, awaiting response... 200
Length: 10008524 (9.5M) [text/csv]
Saving to: ‘CS2015.cvs’

CS2015.cvs          100%[===================>]   9.54M  8.41MB/s    in 1.1s

2022-02-08 20:14:55 (8.41 MB/s) - ‘CS2015.cvs’ saved [10008524/10008524]

--2022-02-08 20:14:55--  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/FMHpXVs4SXygTdZGYVp1kA
Resolving gdocu.upv.es (gdocu.upv.es)... 158.42.4.31
Connecting to gdocu.upv.es (gdocu.upv.es)|158.42.4.31|:443... connected.
HTTP request sent, awaiting response... 200
Length: 9762324 (9.3M) [text/csv]
Saving to: ‘CS2014.cvs’

CS2014.cvs          100%[===================>]   9.31M  8.41MB/s    in 1.1s

2022-02-08 20:14:57 (8.41 MB/s) - ‘CS2014.cvs’ saved [9762324/9762324]

--2022-02-08 20:14:57--  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/XOSnXVhMSFG3lC3hg8bHmg
Resolving gdocu.upv.es (gdocu.upv.es)... 158.42.4.31
Connecting to gdocu.upv.es (gdocu.upv.es)|158.42.4.31|:443... connected.
HTTP request sent, awaiting response... 200
Length: 9519858 (9.1M) [text/csv]
Saving to: ‘CS2013.cvs’

CS2013.cvs          100%[===================>]   9.08M  7.44MB/s    in 1.2s

2022-02-08 20:14:59 (7.44 MB/s) - ‘CS2013.cvs’ saved [9519858/9519858]

--2022-02-08 20:14:59--  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/IE_0VEppTFOxR2MEwMy9Nw
Resolving gdocu.upv.es (gdocu.upv.es)... 158.42.4.31
Connecting to gdocu.upv.es (gdocu.upv.es)|158.42.4.31|:443... connected.
HTTP request sent, awaiting response... 200
Length: 9161656 (8.7M) [text/csv]
Saving to: ‘CS2012.cvs’

CS2012.cvs          100%[===================>]   8.74M  7.74MB/s    in 1.1s

2022-02-08 20:15:01 (7.74 MB/s) - ‘CS2012.cvs’ saved [9161656/9161656]

--2022-02-08 20:15:01--  https://gdocu.upv.es/share/proxy/alfresco-noauth/api/internal/shared/node/content/Q_O9A4pMTmaXZmxdEaMmSw
Resolving gdocu.upv.es (gdocu.upv.es)... 158.42.4.31
Connecting to gdocu.upv.es (gdocu.upv.es)|158.42.4.31|:443... connected.
HTTP request sent, awaiting response... 200
Length: 8734091 (8.3M) [text/csv]
Saving to: ‘CS2011.cvs’

CS2011.cvs          100%[===================>]   8.33M  7.39MB/s    in 1.1s

2022-02-08 20:15:02 (7.39 MB/s) - ‘CS2011.cvs’ saved [8734091/8734091]

In [8]:
CS2020= pd.read_csv('CS2020.cvs',sep=';')
CS2019= pd.read_csv('CS2019.cvs',sep=';')
CS2018= pd.read_csv('CS2018.cvs',sep=';')
CS2017= pd.read_csv('CS2017.cvs',sep=';')
CS2016= pd.read_csv('CS2016.cvs',sep=';')
CS2015= pd.read_csv('CS2015.cvs',sep=';')
CS2014= pd.read_csv('CS2014.cvs',sep=';')
CS2013= pd.read_csv('CS2013.cvs',sep=';')
CS2012= pd.read_csv('CS2012.cvs',sep=';')
CS2011= pd.read_csv('CS2011.cvs',sep=';')

In [9]:
CS2020

       ScopusSourceID  ... ElectISSN
0         21101021140  ...       NaN
1         21101021140  ...       NaN
2         21101021140  ...       NaN
3         21100404576  ...  20531583
4         21100404576  ...  20531583
...               ...  ...       ...
59339           28883  ...  14679744
59340           19073  ...  14698730
59341           19073  ...  14698730
59342     19700173167  ...       NaN
59343     19700173167  ...       NaN

[59344 rows x 21 columns]

In [ ]:
CS2019

       ScopusSourceID  ... ElectISSN
0               12128  ...  14691833
1               12366  ...       NaN
2               12894  ...  18722059
3               12894  ...  18722059
4               12894  ...  18722059
...               ...  ...       ...
57013     21100925891  ...       NaN
57014     21100925891  ...       NaN
57015     21100925891  ...       NaN
57016     21100937999  ...       NaN
57017     21100967512  ...  26766264

[57018 rows x 21 columns]

In [ ]:
CS2018

       ScopusSourceID                              Title  ...  PrintISSN  ElectISSN
0         12100155657                      Mundo Agrario  ...   15155994        NaN
1         12100155657                      Mundo Agrario  ...   15155994        NaN
2         12100155657                      Mundo Agrario  ...   15155994        NaN
3         12100155657                      Mundo Agrario  ...   15155994        NaN
4         12100155657                      Mundo Agrario  ...   15155994        NaN
...               ...                                ...  ...        ...        ...
55082     21100865931                      EC Tax Review  ...    9282750   18758363
55083     21100887653      African Vision and Eye Health  ...   24133183   24101516
55084     21100887653      African Vision and Eye Health  ...   24133183   24101516
55085     21100902964  Applied Mathematics and Mechanics  ...   10000887        NaN
55086     21100902964  Applied Mathematics and Mechanics  ...   10000887        NaN

[55087 rows x 21 columns]

In [ ]:
CS2017

       ScopusSourceID  ... ElectISSN
0         21100837274  ...  1743288X
1         21100837274  ...  1743288X
2         21100837274  ...  1743288X
3         21100838044  ...  23744383
4         21100838044  ...  23744383
...               ...  ...       ...
52780     21100826771  ...  21959870
52781     21100826771  ...  21959870
52782     21100833806  ...  22340793
52783     21100833806  ...  22340793
52784     21100833806  ...  22340793

[52785 rows x 21 columns]

In [ ]:
CS2016

       ScopusSourceID  ... ElectISSN
0               12167  ...  14390485
1               12167  ...  14390485
2               12274  ...       NaN
3               12274  ...       NaN
4               12274  ...       NaN
...               ...  ...       ...
49627           12157  ...       NaN
49628           12157  ...       NaN
49629           12157  ...       NaN
49630           12157  ...       NaN
49631           12167  ...  14390485

[49632 rows x 21 columns]

In [ ]:
CS2015

       ScopusSourceID  ... ElectISSN
0               18619  ...  14747766
1               18619  ...  14747766
2               19057  ...       NaN
3               19057  ...       NaN
4               19235  ...       NaN
...               ...  ...       ...
50477           17409  ...       NaN
50478           17409  ...       NaN
50479           17409  ...       NaN
50480           17479  ...  13600648
50481           17479  ...  13600648

[50482 rows x 21 columns]

In [ ]:
CS2014

       ScopusSourceID  ... ElectISSN
0               26775  ...  18691099
1               26775  ...  18691099
2               26847  ...       NaN
3               26847  ...       NaN
4               27514  ...  15577716
...               ...  ...       ...
49291           26225  ...       NaN
49292           26485  ...  16083393
49293           26677  ...  1741508X
49294           26677  ...  1741508X
49295           26677  ...  1741508X

[49296 rows x 21 columns]

In [ ]:
CS2013

       ScopusSourceID  ... ElectISSN
0               12037  ...       NaN
1               12037  ...       NaN
2               12037  ...       NaN
3               12127  ...       NaN
4               12127  ...       NaN
...               ...  ...       ...
48134     21100264891  ...       NaN
48135     21100286446  ...  17744466
48136     21100286446  ...  17744466
48137     21100286446  ...  17744466
48138     21100286446  ...  17744466

[48139 rows x 21 columns]

In [ ]:
CS2012

       ScopusSourceID  ... ElectISSN
0               15205  ...  16788060
1               15505  ...  15404080
2               15505  ...  15404080
3               15557  ...  15375943
4               15673  ...       NaN
...               ...  ...       ...
46429           14997  ...       NaN
46430           14997  ...       NaN
46431           15106  ...  15732665
46432           15106  ...  15732665
46433           15106  ...  15732665

[46434 rows x 21 columns]

In [ ]:
CS2011

       ScopusSourceID  ... ElectISSN
0               12253  ...       NaN
1               12253  ...       NaN
2               12253  ...       NaN
3               12253  ...       NaN
4               12881  ...  15444546
...               ...  ...       ...
44430           12085  ...       NaN
44431           12216  ...  15371719
44432           12216  ...  15371719
44433           12216  ...  15371719
44434           12216  ...  15371719

[44435 rows x 21 columns]

# Nueva sección